.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  /* border: 1px solid #999; */
  border-color: rgb(241, 236, 236);

  position: fixed;
  top: 20px;
  right: 70px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}
